body {
  background-color: #5e2a98;
}
.container {
  width: 34%;
  margin: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(3, minmax(150px, auto));
}
.container div {
  background: #f0c132;
}

.one {
  grid-row: 1/3;
  background-color: #3bbced;
}
.two {
  grid-column: 2/4;
}
.three {
  grid-column: 2;
}
.four {
  grid-column: 3;
  grid-row: 2/4;
}
.five {
  grid-column: 1/3;
}
